---
layout: default
---

<div style="position: relative;  z-index: 1" class="ui fluid centered small circular image">
      <img src="/images/me.jpg">
</div>
<div class="home">
  <h1 class="page-heading">Welcome!</h1>
I am a physics student at the University of Padua, and I am interested in data science and machine learning, particularly their application in the analysis of large data sets. </br>
I enjoy using GNU/Linux and tinkering with my setup, currently using <a href="https://i3wm.org/">i3wm</a> on an <a href="https://archlinux.org/">Arch</a> build. </br>
In my free time, I enjoy reading books, particularly essays, and thinking about philosophical and ethical questions. On this website, you can find some of my projects, things that inspire me, and my thoughts. Please note that this site is still a work in progress. </br>
<h4>
If you notice any errors, broken links, or have any tips, please feel free to contact me through the links provided or through the contact page. Thank you in advance for your help!
</h4>
</div>


